*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(229, 221, 236);
}
.form{
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1500px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.formgroup{
    width: 500px;
    height: 60px;
    border: 2px solid red;
    border-radius: 19px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 35px 500px;
    padding: 1px 30px;
    font-size: 20px;
    background-color: rgb(241, 215, 179);
    color: brown;
    
}
h1{
    position: relative;
    left: 630px;
    top: 25px;
}
input{
    padding: 10px;
    height: 10px;
    margin: 20px 10px;
    width: 300px;
    border-radius: 10px;
    font-size: 15px;

}
button{
    height: 46px;
    width: 400px;
    position: relative;
    left: 580px;
    top: 50px;
    font-size: 22px;
    padding: 11px 20px;
    border-radius: 10px;
    background-color: chocolate;
}
button:hover{
    background-color: aquamarine;
    color: burlywood;
}
label{
    background-color: rgb(241, 215, 179);
}
textarea {
    position: relative;
    left: 500px;
    border:2px solid green;
    border-radius: 20px;
    height: 140px;
    width: 530px;
    font-size: 20px;
    padding: 10px 15px;
}
