*{
    margin: 0px ;
    padding: 0px;
}
nav{
    height: 40px;
    background-color: rgb(147, 156, 108);
    width: 100%;
    /* width: 900px; */
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    /* border:2px solid red; */
    position: relative;
    top:6px
}
li{
    list-style: none;
    margin: 1px 10px;
    position: relative;
    font-size: 20px;
    left:10px;
   /* border: 2px solid green; */
   border-radius: 8px;
}
.anchor{ 
    text-decoration: none;  
    padding: 10px;
}
.anchor:hover{
    background-color: rgb(51, 201, 238);
    border-radius: 20px;
    color: chocolate;
}


/* body-----------------------------------------------------------------------------------------------------------------------> */
.intro{
    /* border: 2px solid red; */
    /* height: 800px; */
    width: 500px;
}
.intro::before{
    content: "";
    background: url("backgroundimg.jpg");
    /* background: url('static/img/pexels-shonejai-445753-1227511.jpg') no-repeat center center/cover; */
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    /* height: 800px; */
    /* width: 890px; */
    width: 100%;
    opacity: 0.8;
    /* bottom: 10px;s */
    /* border: 2px solid red; */
    z-index: -1;
}
/* body------------------------------------------------------------------- */
.h1{
    display: flex;
    justify-content: center;
    position: relative; 
    align-items: center;
    top: 110px; 
    left: 100px;
    font-size: 1.1rem;
      /* margin: auto auto; */
      font-weight: bold;
      color: rgb(0, 0, 0);
  }
  .h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
    
    left:50px;
    font-size: 0.8rem;
      /* margin: auto auto; */
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  .btnstd a{
      position: relative;
      display: flex;
      top: 150px;
      left: 250px;
      border: 2px solid greenyellow;
      height: 10px;
      justify-content: center;
      background-color: burlywood;
      text-decoration: none;
      list-style: none;
      font-size: 10px;
      align-items: center;
      padding: 10px 30px;
      width: 100px;
      color: rgb(255, 0, 0);
      border-radius: 20px;
  }
  .btnstd a:hover{
      cursor: pointer;
      background-color: rgb(243, 255, 70);
      color: rgb(0, 0, 0);
  }