*{
    margin: 0px;
    padding: 0px;
}
nav{
    height: 70px;
    background-color: chartreuse;
    justify-content: center;
}
ul{
    display: flex;
    /* border:2px solid red; */
    position: relative;
    top:16px
  
    
}
li{
    list-style: none;
    margin: 1px 50px;
    position: relative;
    font-size: 30px;
    left: 300px;
   /* border: 2px solid green; */
   border-radius: 8px;
}
.anchor{ 
    text-decoration: none;  
    padding: 10px;
}
.anchor:hover{
    background-color: rgb(51, 201, 238);
    border-radius: 20px;
    color: chocolate;
}

/* body-----------------------------------------------------------------------------------------------------------------------> */

.intro::before{
    content: "";
    background: url("/backgroundimg.jpg");
    /* background: url('static/img/pexels-shonejai-445753-1227511.jpg') no-repeat center center/cover; */
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 91%;
    width: 100%;
    opacity: 0.8;
    /* border: 2px solid red; */
    z-index: -1;
}

/* .boxes{
    border: 2px solid red ;
    height: 400px ;
    width: 60%;
    display: flex;
    position: relative;
    top: 100px ;
    left: 100px;
 
}
.innerboxes {
    height: 100px ;
    width: 100px;
    margin: auto auto;
    border: 2px solid green;
}
.innerboxes a{
    font-size: 40px;
    background-color: rgb(226, 226, 170);
    border-radius: 30px;
    padding: 30px;

}
.innerboxes a:hover{
    background-color: chartreuse;
} */
.h1{
  position: relative;
    left: 400px;
    top: 180px;
  font-size: 37px;
    margin: auto auto;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.h2{
   position: relative;
   top: 200px;
   width: 600px;
   left: 440px;
  font-size: 22px;
    /* margin: auto auto; */
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.btnstd a{
    position: relative;
    display: flex;
    top: 300px;
    left: 450px;
    border: 2px solid greenyellow;
    height: 30px;
    justify-content: center;
    background-color: burlywood;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    align-items: center;
    padding: 10px 30px;
    width: 450px;
    color: rgb(255, 0, 0);
    border-radius: 20px;
}
.btnstd a:hover{
    cursor: pointer;
    background-color: rgb(243, 255, 70);
    color: rgb(0, 0, 0);
}