*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(93, 136, 83);
    }
.images{
    /* border: 2px solid red; */
    /* width: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 950px;
    /* display: list-item; */
    /* border: 2px solid red; */
    height: 800px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    list-style: none;
    color: azure;
    background-color: rgb(132, 15, 4);
 padding: 27px;
    font-size: 20px ;
    font-weight: 500;
    border-radius: 10px;
}
a:hover{
    background-color: rgb(63, 118, 53);
    color: rgb(255, 25, 25);
    /* border-top:2px solid white; */
    border-bottom:5px solid white;
    padding: 20px;
    
}

@media(max-width:870px){
    img{
        position: relative;
        left: 5px;
        width: 97%;
        height: auto;
    }
    section{
        height: 100%;
      
    }
    a{
        font-size: 10px;
     
        
        padding: 5px;
    }
}