*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(93, 136, 83);
    }
.images{
    /* border: 2px solid red; */
    /* width: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 950px;
    /* display: list-item; */
    /* border: 2px solid red; */
    height: 800px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.audio{
    position: absolute;
    top: 80%;
}

@media(max-width:870px){
    img{
        position: relative;
        left: 5px;
        width: 97%;
        height: auto;
    }
    section{
        height: 100%;
      
    }
    .audio{
        top: 76%;
    }
}